@import url('https://fonts.googleapis.com/css?family=Candal&display=swap');

#App {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

#calculator {
  background-color: rgba(5, 4, 4, 0.938);
  border: 1.25px solid grey;
  box-shadow: 0 0 20px rgba(54, 54, 88, 0.63);
  height: 90vh;
  width: 30%;
}

#calc-header {
  display: flex;
  justify-content: center;
  height: 5%;
  width: 100%;
  padding: 6.5px 0 0 0;
}

#header-text {
  display: inline-block;
  color: rgba(249, 255, 239, 0.959);
  height: 95%;
  margin: auto;
  font-size: 0.86em;
  letter-spacing: 0.30em;
  text-shadow: 1px 1px 1px rgb(79, 81, 90);
  font-weight: 700;
}

#display {
  border: 7px solid rgba(219, 93, 46, 0.918);
  background-color: rgb(158, 152, 165);
  box-shadow: inset 0px 0px 8px 7px rgb(24, 22, 26);
  color: rgb(22, 20, 20);
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  word-wrap: break-word;
  height: 11%;
  width: 91%;
  margin: auto;
}

#display-text {
  display: block;
  font-family: 'Candal', sans-serif;font-family: 'Allerta Stencil', sans-serif;
  text-align: right;
  align-items: flex-end;
  flex-direction: row-reverse;
  direction: ltr;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  padding: 2% 2.5% 0 2.5%;
  font-size: 1.93em;
  font-weight: 600;
}

#calc-bottom {
  height: 81%;
  width: 100%;
  padding: 3% 100px 0 10px;
}

#calc-inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2.3%;
  grid-column-gap: 2.3%;
  width: 95%;
  height: 95%;
}

.button {
  width: 93%;
  height: 93%;
  background-color:  rgb(218, 216, 216);
  font-size: 2rem;
}

.button:hover {
  background-color:  #f8f8f7;
  font-weight: 600;
}

#equals {
  grid-column: 2/5;
  grid-row: 5/6;
  width: 98%;
  background-color: rgb(10, 35, 102);
  color: white;
}

#add {
  grid-column: 3/5;
  grid-row: 4/5;
  width: 97%;
}

#add, #multiply, #subtract, #divide {
  background-color: rgb(223, 6, 6);
  color: white;
}

#clear {
  grid-column: 1/2;
  grid-row: 5/6;
  width: 100%;
  background-color: rgb(7, 5, 5);
  color: rgb(255, 147, 24);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
